:root {
    --card-light: #FFFFFF;
    --card-dark: #202020;

    --card-height: 250px;
    --card-width: 180px;

    --big-card-height: 450px;
    --big-card-width: 324px;
    --big-suit-size: 35px;

    --sm-card-height: 200px;
    --sm-card-width: 140px;
    --sm-suit-size: 15px;

    --suit-main: #1b1b1b;
    --suit-alt: #ee3838;
    --suit-x: 17px;
    --suit-y: 20px;
    --suit-size: 20px;
}

/* Card Containers */

.card-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(var(--card-width) / 3));
}

.sm-container {
    grid-template-columns: repeat(auto-fit, calc(var(--sm-card-width) / 4)) !important;
}

.card-container > .card {
    grid-row: 1;
}

/* Card Styling */

.card {
    position: relative;
    fill: var(--suit-main);
    color: var(--suit-main);
    background-color: var(--card-light);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 20px;
    transition: background-color .15s ease-out;
}

.big {
    width: var(--big-card-width) !important;
    height: var(--big-card-height) !important;
}

.big .suit-container > svg {
    width: var(--big-suit-size);
}

.big .suit-container > span {
    font-size: var(--big-suit-size);
}

.small {
    width: var(--sm-card-width) !important;
    height: var(--sm-card-height) !important;
}

.small .suit-container > svg {
    width: var(--sm-suit-size);
}

.small .suit-container > span {
    font-size: var(--sm-suit-size);
}

.dark {
    background-color: var(--card-dark) !important;
    border: 1px solid var(--med-gray);
}

.alt-color {
    color: var(--suit-alt) !important;
    fill: var(--suit-alt) !important;
}

.card * {
    color: inherit;
    fill: inherit;
}

/* Card Symbol Styling & Positioning */

.suit-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suit-top {
    top: var(--suit-y);
    left: var(--suit-x);
}

.suit-bottom {
    bottom: var(--suit-y);
    right: var(--suit-x);
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

.suit-container > svg {
    width: var(--suit-size);
    transition: fill .15s ease-out;
}

.suit-container > span {
    display: block;
    font-weight: 700;
    font-size: var(--suit-size);
    transition: color .15s ease-out;
}
