.layout-container {
    display: grid;
    grid-template-areas: "cpu cpu cpu"
                         "user user user";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    justify-content: space-between;
    background-color: var(--med-green);
    z-index: 1;
}

.cpu-container {
    grid-area: cpu;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.user {
    grid-area: user;
    justify-self: center;
    align-self: end;
    padding: 20px;
}

.action-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-black);
    z-index: 3;
}

.btn-container {
    display: flex;
    gap: 20px;
}

.action-btn {
    position: relative;
    width: 100px;
    padding: 20px 0;
}

.action-btn > .btn-tooltip {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 22px);
    padding: 10px;
    width: 100px;
    color: var(--dark-gray);
    background-color: var(--light-gray);

    visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease;
}

.action-btn:hover {
    color: var(--white);
}

.action-btn:hover > .btn-tooltip {
    visibility: visible;
    opacity: 1;
}