.layout-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: var(--light-gray);
}

h1 {
    align-self: flex-start;
}

h2 {
    font-size: 2rem !important;
}

.shop-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    gap: 10px;
}

.shop-item {
    position: relative;
    border-radius: 25px;
    background-color: var(--white);

    overflow: hidden;
    z-index: 1;
}

/* Purchase & Descriptions */

.purchase-overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    opacity: 0;
    z-index: 4;
    transition: opacity .1s ease-out;
    cursor: pointer;
}

.purchase {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.wrap {
    position: absolute;
    left: 0px;
    font-size: 4rem;
    font-family: var(--font);
    opacity: .15;

    animation: wrap-around 1s linear infinite;
    z-index: 1;
}

.wrap-support {
    position: absolute;
    left: 0px;
    font-size: 4rem;
    font-family: var(--font);
    opacity: .15;

    transform: translateX(100%);
    animation: wrap-around-supp 1s linear infinite;
    z-index: 1;
}

.shop-item:hover .purchase-overlay {
    opacity: 1;
}

.shop-item:hover .purchase {
    transform: translateX(0);
}

.description-container {
    display: flex;
    flex-direction: column;

    z-index: 3;
}

.descriptor {
    font-weight: 600;
}


.price {
    line-height: .8rem;
    font-size: 1rem;
    color: var(--med-green);
}

@keyframes wrap-around {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes wrap-around-supp {
    from {
        transform: translateX(100%);
    } to {
        transform: translate(50%);
    }
}

/* Profile Picture Items */

.picture-item {
    grid-column: span 2;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.picture-item .description-container {
    align-items: center;
}

.picture-container {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    overflow: hidden;
}

.picture {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

img.picture[src=""] {
    display: none;
}

/* Color Items */

.color-item {
    grid-column: span 2;
    grid-row: span 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.color-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--med-gray);

    z-index: 3;
}

.color-data {
    font-weight: 600;
    font-size: .9rem;
    line-height: .8rem;
}
