:root {
    --black: #000000;
    --dark-green: #020e07;
    --med-green: #2c6844;
    --light-green: #45b678;
    --dark-gray: #202020;
    --med-gray: #949494;
    --light-gray: #f1f1f1;
    --cream: #FFE7C5;
    --white: #FFFFFF;
    --suit-red: #ee3838;
    --font: 'Outfit', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}