{% extends "base.html" %}
{% block title %}Play{% endblock %}
{% block expand_head %}
<link rel="stylesheet" href="../static/css/card.css">
<link rel="stylesheet" href="../static/css/game.css">
{% endblock %}

{% block content %}
<div class="layout-container">
    <div id="user" class="card-container">
        <div class="card alt-color">
            <div class="suit-container suit-top">
                <span>A</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path class="heart" d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                    <path class="club" d="M11.5 12.5a3.493 3.493 0 0 1-2.684-1.254 19.92 19.92 0 0 0 1.582 2.907c.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847a19.919 19.919 0 0 0 1.582-2.907 3.5 3.5 0 1 1-2.538-5.743 3.5 3.5 0 1 1 6.708 0A3.5 3.5 0 1 1 11.5 12.5z"/>
                </svg>
            </div>
            <div class="suit-container suit-bottom">
                <span>A</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
{% endblock %}